streamlit
pandas
numpy
requests
yfinance
plotly
streamlit-autorefresh
sqlalchemy
ta
scipy
openpyxl
python-dotenv
matplotlib
seaborn
schedule
joblib
scikit-learn
statsmodels
nsepython

streamlit-autorefresh
